{% extends "base.html" %}
{% block title %} Add a book {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/add_book.css') }}">
{% endblock %}

{% block content %}
    <body>
        <h1 style="color: white"> Add a book </h1>
        <div class="container">
            <form id="addBookForm">
                <label style="color: white" for="ISBN"><b> ISBN </b></label>
                <input type="number" placeholder="Enter the ISBN" name="ISBN" id="ISBN" required
                       class="input">

                <label style="color: white" for="title"><b> Title </b></label>
                <input type="text" placeholder="Enter the title" name="title" id="title" required
                       class="input">

                <label style="color: white" for="subject"><b> Subject </b></label>
                <input type="text" placeholder="Enter the subject" name="subject" id="subject" required
                       class="input">

                <label style="color: white" for="language"><b> Language </b></label>
                <input type="text" placeholder="Enter the language" name="language" id="language" required
                       class="input">

                <label style="color: white" for="number_of_pages"><b> Number of pages </b></label>
                <input type="number" placeholder="Enter the number of pages" name="number_of_pages" id="number_of_pages" required class="input">

                <label style="color: white" for="publication_date"><b> Publication date </b></label>
                <input type="date" placeholder="Enter the publication date" name="publication_date" id="publication_date" required class="input">

                <label style="color: white" for="publisher"><b> Publisher </b></label>
                <input type="text" placeholder="Enter the publisher" name="publisher" id="publisher" required class="input">

                <label style="color: white" for="price"><b> Price </b></label>
                <input type="number" placeholder="Enter the price" name="price" id="price" required class="input">

                <div id="add-book-error" class="hidden">
                    <p style="color: red; font-size: 24px;">Book already exists!</p>
                </div>

                <button type="submit" class="addBookButton">Add book </button>

                <div id="server-error" class="hidden">
                    <p style="color: red; font-size: 24px;">Something went wrong! Try it later!</p>
                </div>

            </form>

            {% block scripts %}
            <script src="{{url_for('static', filename='/scripts/add_book.js')}}"></script>
            {% endblock scripts %}

        </div>
    </body>
{% endblock %}