{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="home-content">
        <h1>A BOOK FOR YOU</h1>
        <p> The best bookstore in the world </p>
        {% if current_user.is_authenticated == False %}
            <a href='/register'>
                <button> Register</button>
            </a>
        {% endif %}

        {% if current_user.is_authenticated == False %}
            <a href='/login'>
                <button> Login</button>
            </a>
        {% endif %}

        {% if current_user.is_authenticated == True %}
            <a href="/settings">
                <button> Settings</button>
            </a>
        {% endif %}

        {% if current_user.is_authenticated == True %}
            <div class="search-wrapper">
                <input type="search" placeholder="Search..." name="search" id="to-search" required>
            </div>

            <br><br>

            <div id="shopping-cart">
                <h2>Shopping Cart</h2>
                <div class="book-cards" data-book-cards-container id="card">
                </div>

                <br>

                <form id="submit-rent">
                    <button type="submit">Rent</button>
                </form>
            </div>

            <div id="error-messages">
                <div id="no-books-error" class="hidden">
                    <p style="color: red; font-size: 24px;">There are no books to rent!</p>
                </div>

                <div id="succesfull-message" class="hidden">
                    <p style="color: red; font-size: 24px;">Succesfull rent!</p>
                </div>

                <div id="succesfull-error" class="hidden">
                    <p style="color: red; font-size: 24px;">Already rented!</p>
                </div>

                <div id="succesfull-error-current_user" class="hidden">
                    <p style="color: red; font-size: 24px;">Already rented by you!</p>
                </div>

            </div>

            <template data-book-template>
                <div class="card">
                    <div class="header" data-header></div>
                    <div class="price" data-price></div>
                    <div class="body" data-body></div>
                    <div class="due-date" data-due-date></div>
                    Rent <input type="checkbox" class="rent-button" data-rent-button>
                </div>
            </template>
        {% endif %}

        {% if current_user.is_authenticated == True and current_user.is_admin == True %}
            <a href="/add_book">
                <button> Add a book</button>
            </a>
            <a href="/add_author">
                <button> Add an author</button>
            </a>
        {% endif %}
    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='/scripts/home.js') }}"></script>
    {% endblock scripts %}

{% endblock %}

