{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/login.css') }}">
{% endblock %}

{% block content %}
    <body>
        <h1 style="color: white">Login Page</h1>
        <div class = "container">
            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <label style="color: white" for="username"><b> Username </b></label>
                <input type="text" placeholder="Enter your username" name="username" id="username" class="input" required>

                <label style="color: white" for="password"><b> Password </b></label>
                <input type="password" placeholder="Enter your password" name="password" id="password" class="input" required>

                <button type="submit" id="loginButton">Login</button>
            </form>
        </div>

        {% block scripts %}
        <script src="{{url_for('static', filename='/scripts/login.js')}}"></script>
        {% endblock scripts %}

        </body>
{% endblock %}
