{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/register.css') }}">
{% endblock %}

{% block content %}
    <body>
        <h1 style="color: white"> Register </h1>
        <div class="container">
            <form id="dataForm" method="POST" action="">
                {{ form.hidden_tag() }}
                <label style="color: white" for="firstName"><b> First name </b></label>
                <input type="text" placeholder="Enter your first name" name="firstName" id="firstName" required
                       class="input">

                <label style="color: white" for="lastName"><b> Last name </b></label>
                <input type="text" placeholder="Enter your last name" name="lastName" id="lastName" required
                       class="input">

                <label style="color: white" for="username"><b> Username </b></label>
                <input type="text" placeholder="Enter your username" name="username" id="username" required
                       class="input">

                <label style="color: white" for="password"><b> Password </b></label>
                <input type="password" placeholder="Enter your password" name="password" id="password" required
                       class="input">

                <label style="color: white" for="email"><b> Email </b></label>
                <input type="email" placeholder="Enter your email" name="email" id="email" required class="input">

                <div id="register-error" class="hidden">
                    <p style="color: red; font-size: 24px;">Username already exists!</p>
                </div>

                <button type="submit" class="registerButton">Register</button>

                <div id="server-error" class="hidden">
                    <p style="color: red; font-size: 24px;">Something went wrong! Try it later!</p>
                </div>

            </form>

            {% block scripts %}
            <script src="{{url_for('static', filename='/scripts/register.js')}}"></script>
            {% endblock scripts %}

        </div>
    </body>
{% endblock %}
