{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/settings.css') }}">
{% endblock %}

{% block content %}
    <body>
        <h2>Settings</h2>
        <br>
        <div>
            <form id="newpassword-form" method="POST" action="/settings/newPassword">
                <h3>Update password</h3>
                <label for="" style="color: white">Enter new password</label>
                <input type="password" id="new-password" name="newPassword" required>
                <button type="submit" value="Change">Change password</button>
            </form>
        </div>

        <div>
            <form id="delete-form" method="POST" action="/settings/deleteUser">
                <h3>Delete account</h3>
                <button type="submit" id="deleteAccountBtn">Delete Account</button>
            </form>
        </div>

        <div id="server-error" class="hidden">
            <p style="color: red; font-size: 24px;">Something went wrong! Try it later!</p>
        </div>

        {% block scripts %}
        <script src="{{url_for('static', filename='/scripts/settings.js')}}"></script>
        {% endblock scripts %}

        </body>
{% endblock %}
